@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

html {
    height: 100vh;
    width: 100vw;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

input[type=text],
input[type=password],
input[type=number],
select {
    height: 1.5rem;
}

input[type=checkbox] {
    height: 1.2rem;
    width: 1.2rem;
}

.header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #00ACC1;
    color: white;
}

.header .header-label {
    width: 10rem;
}

.header .header-menu a {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    min-width: 3rem;
    color: white;
    font-weight: normal;
    padding: 0.5rem 1rem;
    border-left: 1px solid white;
}

.container {
    height: 100%;
    width: 100%;
}

.container .user {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 1rem;
}

.container .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content .score {
    margin-bottom: 2rem;
    font-size: 0.8rem;
    font-style: italic;
}

.container .content .score span {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container form .form-question {
    border: 1px solid #00acc1;
    margin: 0.3rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.alert {
    position: relative;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1rem 0;
    border: 1px solid #FFEB3B;
    border-left: 3px solid #FFC107;
    background: #ffeb3b40;
    color: #464646;
}

.alert:before {
    content: "!";
    background-color: #FFC107;
    position: absolute;
    top: 5px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.container form .form-question input[type=text],
.container form .form-question .question {
    width: 30rem;
    margin: 0.3rem 0;
    height: 1.4rem;
}

.container form .form-question .question {
    border-bottom: 1px solid gray;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.container form .form-question .question-response {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container form .form-question .question-corps .question-content {
    font-size: 0.8rem;
}

.container form .form-question .question-corps span {
    font-size: 1rem;
}

.container form .form-element {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form .form-element label {
    display: inline-block;
    width: 15rem;
    color: rgb(51, 51, 51);
}

.container form .form-element input[type=text],
.container form .form-element input[type=password],
.container form .form-element input[type=number],
.container form .form-element select {
    display: inline-block;
    box-sizing: border-box;
    width: 15rem;
}

.container form .form-element input[type=submit],
.container form .form-element button,
.container .content .action {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    width: 30rem;
    height: 2.5rem;
    font-family: 'Roboto';
    background-color: #FF8A65;
    color: white;
    border: 0;
    cursor: pointer;
}

.container .content .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 0;
    text-decoration: none;
}

.container form .form-element a {
    font-size: 0.8rem;
}